aiohttp_client_cache>=0.11.1
aiosqlite>=0.20.0
beautifulsoup4>=4.12.3
discord_py_interactions>=5.13.2
geopy>=2.4.1
kerykeion==4.18.5
pandas>=2.2.2
prettytable>=3.11.0
pycountry>=24.6.1
python-dotenv>=1.0.1
python_dateutil>=2.9.0.post0
timezonefinder>=6.5.2